body {
  background-color: #1d2322;
  overflow: hidden;
}
nav {
  background-color: #c49ef7;
  padding: 21px;
  color: #f7f7f7;
}

nav a {
  color: #f7f7f7;
  text-decoration: none;
}

#pizzaMenu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.product {
  position: relative;
  display: inline-block;
  width: 22%;
  text-align: center;
  height: 500px;
  border: 1px solid #c49ef7;
}

.product img {
  width: 90%;
  height: 60%;
}
.product h2 {
  color: white;
}

.product button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #4b4b4b;
  font-size: 16px;
  cursor: pointer;
}

.product p {
  height: 60px;
  color: #f7f7f7;
}

.priceTag {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: #ffc600;
  color: #f7f7f7;
  width: 180px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: normal;
}
.productDetails {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: #f7f7f7;
}

.quantitySelector {
  background-color: white;
  width: 60px;
  color: black;
  font-size: x-large;
  border-radius: 10px;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
}

#order {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: 5px;
  vertical-align: middle;
  background-color: #c49ef7;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
}
.mala-golema {
  padding: 6px 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.mala-golema:hover,
.mala-golema:focus {
  background-color: #8f8e8e;
}
